<div class="calendar">
    <div class="header">
      <button (click)="prevMonth()">Prev</button>
      <h2>{{ viewDate | date: 'MMMM yyyy' }}</h2>
      <button (click)="nextMonth()">Next</button>
    </div>
    <div class="body">
      <div *ngIf="view === 'month'">Mostrar vista de mes aquí</div>
      <div *ngIf="view === 'week'">Mostrar vista de semana aquí</div>
      <div *ngIf="view === 'day'">Mostrar vista de día aquí</div>
    </div>
    <div class="footer">
      <button (click)="setView('month')">Month</button>
      <button (click)="setView('week')">Week</button>
      <button (click)="setView('day')">Day</button>
    </div>
  </div>
  