<html>
<div class="titulo" style="align-content: center;">
    <img src="./assets/escenarios.png" style="margin-left: 35%;" />
    <h2>Sistema de informacion de registros prestamos de escenarios deportivos secccional Sogamoso-UPTC</h2>

    <form class="custom-form" method="post">

        <div class="Seccion">
            <h1>Generar Reporte</h1>
        </div>
        <div class="datos">
            <label for="start">Fecha inicio</label>
            <input type="date" id="start" name="trip-start" value="" min="2018-01-01" max="2024-12-31">
            <label for="start">Fecha fin</label>
            <input type="date" id="start" name="trip-start" value="" min="2018-01-01" max="2024-12-31">
            <div>
                <button class="Cancelar" type="submit">Descargar</button>
            </div>
        </div>
    </form>
</div>
</html>