<html>

<div class="titulo" style="align-content: center;">
    <img src="./assets/escenarios.png" style="width: 20%;margin-left: 40%;" />
    <h3>Sistema de informacion de registros prestamos de escenarios deportivos secccional Sogamoso-UPTC</h3>
    <form class="custom-form" method="post">

        <div class="Seccion">
            <h1>Solicitar Reserva</h1>
        </div>
        <div class="datos">
            <label>Codigo</label>
            <input type="Codigo" name="email" placeholder="Codigo" required="required" />
        </div>
        <div class="datos">
            <label>Nombre</label>
            <input type="Nombre" name="nombre" placeholder="nombre" required="required" />
        </div>

        <div class="datos">
            <label>Carrera</label>
            <div>
                <select name="membership" id="membership" class="datos">
                    <option value="sistemas">Ingenieria de sisstemas y computacion</option>
                    <option value="electronica">Ingenieria Electronica</option>
                    <option value="industrial" selected>Ingenieria Industrial</option>
                    <option value="minas">Ingenieria de minas</option>
                    <option value="geologica">Ingenieria geologica</option>
                    <option value="finanzas">Finanzas y comercio internacional</option>
                    <option value="administracion">Administracion de Empresas</option>
                    <option value="contaduria">Contaduria Publica</option>
                </select>
            </div>
        </div>
        <div class="datos">
            <label>Escenario</label>
            <div>
                <select name="membership" id="membership" class="datos">
                    <option value="sistemas">Futbol Sala 1</option>
                    <option value="electronica">Futbol Sala 2</option>
                    <option value="industrial" selected>Voley arena</option>
                    <option value="minas">Futbol 11</option>
                    <option value="geologica">Tenis</option>
                    <option value="finanzas">Voley piso</option>
                    <option value="administracion">Basquetbol</option>
                </select>
            </div>
        </div>

        <div class="datos">
            <label for="start">Fecha y hora</label>
            <input type="datetime-local" id="start" name="trip-start" value="" min="2018-01-01" max="2018-12-31">

        </div>

        <button class="crear" type="submit">Crear Reserva</button>
    </form>
</div>

</html>