<p>crud-user works!</p>
<html>

<div class="titulo" style="align-content: center;">
    <img src="./assets/escenarios.png" style="width: 20%;margin-left: 40%;" />
    <h3>Sistema de informacion de registros prestamos de escenarios deportivos secccional Sogamoso-UPTC</h3>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <a>Crear Reserva</a>
                </div>
                <a href="/reserva"><img src="./assets/crear.png" style="width: 25%;" /></a>
            </div>
            <div class="col">
                <div class="p-3">
                    <a> Visualizar</a>
                </div>
                <a href="/ver"><img src="./assets/ver.png" style="width: 25%;" /></a>
            </div>

            <div class="col">
                <div class="p-3">
                    <a>Eliminar Reserva</a>
                </div>
                <a href="/ver"><img src="./assets/eliminar.png" style="width: 25%;" /></a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

</html>