<html>

<div class="titulo" style="align-content: center;">
    <img src="./assets/escenarios.png" style="width: 20%;margin-left: 40%;" />
    <h3>Sistema de informacion de registros prestamos de escenarios deportivos secccional Sogamoso-UPTC</h3>
    <form class="custom-form" method="post">

        <div class="Seccion">
            <h1>CREAR NUEVO ESCENARIO DEPORTIVO</h1>
        </div>
        <div class="datos">
            <label>Nombre</label>
            <input type="Codigo" name="Nombre" placeholder="Nombre" required="required" />
        </div>
        <div class="datos">
            <label>Descripcion</label>
            <input type="Nombre" name="Descripcion" placeholder="Descripcion" required="required" />
        </div>

        
        <button class="crear" type="submit">Crear Escenario Deportivo</button>
        <button class="Cancelar" type="submit" >Cancelar</button>
    </form>
</div>

</html>